{% extends 'blog/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="zxx">
<head>
	<title>Game Warrior Template</title>
	{% comment %} 
	bu yerda css qismi bor edi
	{% endcomment %}
</head>
<body>

	{% block mains %}
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	{% include 'blog/header.html' %}
	{% comment %} 
	bu yerda header qismi bor edi
	{% endcomment %}


	{% include 'blog/news.html' %}
	{% comment %} 
	bu yerda news qismi bor edi
	{% endcomment %}





	<!-- Page section -->
	<section class="page-section single-blog-page spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="blog-thumb set-bg" data-setbg="{{post.image.url}}">
						<div class="cata new">new</div>
                        
						
					</div>
                    <div class="ti-content">
                        <div class="ti-text">
                            <h3>{{post.oyinNomi}}</h3>
                            <p><span>Turnir homiysi:</span>{{post.turnirhomiysi}}</p>
                            <p><span>Turnir boshlanish vaqti:</span> {{post.startDate}}</p>
                            <p><span>Turnir Tugash Vaqti:</span>{{post.endDate}}</p>
                            <p><span>Ishtirokchilar yosh chegarasi:</span>{{post.participants_age}}  yoshlilar</p>
                            <p><span>Timelar soni:</span>{{post.timesNum}}</p>
                            <p><span>Guruhlar soni:</span>{{post.groupNum}}</p>
                            
                            <p><span>Prizes:</span>  1-o'rin : {{post.priz1}}</p>
                            <p><span>Prizes:</span>  2-o'rin : {{post.priz2}}</p>
                            <p><span>Prizes:</span>  3-o'rin : {{post.priz3}}</p>
                        </div>
                    </div>
					
					{% comment %} <div class="comment-warp">
						<h4 class="comment-title">Top Coments</h4>
						<ul class="comment-list">
							<li>
								<div class="comment">
									<div class="comment-avator set-bg" data-setbg="{% static 'img/authors/1.jpg' %}"></div>
									<div class="comment-content">
										<h5>James Smith <span>June 21, 2018</span></h5>
										<p>Donec venenatis at eros sit amet aliquam. Donec vel orci efficitur, dictum nisl vitae, scelerisque nibh. Curabitur eget ipsum pulvinar nunc gravida interdum. </p>
										<a href="" class="reply">Reply</a>
									</div>
								</div>
							</li>
						</ul>
					</div> {% endcomment %}
					{% comment %} <div class="comment-form-warp">
						<h4 class="comment-title">Leave Your Comment</h4>
						<form class="comment-form">
							<div class="row">
								<div class="col-md-6">
									<input type="text" placeholder="Name">
								</div>
								<div class="col-md-6">
									<input type="email" placeholder="Email">
								</div>
								<div class="col-lg-12">
									<input type="text" placeholder="Subject">
									<textarea placeholder="Message"></textarea>
									<button class="site-btn btn-sm">Send</button>
								</div>
							</div>
						</form>
					</div> {% endcomment %}
				</div>
				<!-- sidebar -->
				<div class="col-lg-4 col-md-7 sidebar pt-5 pt-lg-0">
					
					<!-- widget -->
					{% comment %} <div class="widget-item">
						<h4 class="widget-title">Latest Posts</h4>
						<div class="latest-blog">

							
							<div class="lb-item">
								<div class="lb-thumb set-bg" data-setbg="{{post.image.url}}"></div>
								<div class="lb-content">
									<div class="lb-date">{{post.date}}</div>
									<p>{{post.body}}</p>
									<a href="#" class="lb-author">{{post.oyinNomi}}</a>
								</div>
							</div> 
						</div>
					</div> {% endcomment %}
					<!-- widget -->
					{% comment %} <div class="widget-item">
						<h4 class="widget-title">Top Comments</h4>
						<div class="top-comment">

							{% for comment in comments %}
							<div class="tc-item">
								<div class="tc-thumb set-bg" data-setbg="{{comment.image.url}}"></div>
								<div class="tc-content">
									<p><a href="#">{{comment.name}}</a> <span>on</span>{{comment.body}}</p>
									<div class="tc-date">{{comment.date}}</div>
								</div>
							</div>
							{% endfor %}
							


						</div>
					</div> {% endcomment %}
					<!-- widget -->
					<div class="widget-item">
						<div class="feature-item set-bg" data-setbg="{% static 'img/features/1.jpg' %}">
							<span class="cata new">new</span>
							<div class="fi-content text-white">
								<h5><a href="#">Suspendisse ut justo tem por, rutrum</a></h5>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
								<a href="#" class="fi-comment">3 Comments</a>
							</div>
						</div>
					</div>
					<!-- widget -->
					<div class="widget-item">
						<div class="review-item">
							<div class="review-cover set-bg" data-setbg="{% static 'img/review/1.jpg' %}">
								<div class="score yellow">9.3</div>
							</div>
							<div class="review-text">
								<h5>Assasin’’s Creed</h5>
								<p>Lorem ipsum dolor sit amet, consectetur adipisc ing ipsum dolor sit ame.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Page section end -->

	{% include 'blog/footer.html' %}
	{% comment %} 
	bu yerda footer qismi bor edi
	{% endcomment %}


	{% comment %} 
	bu yerda js qismi bor edi
	{% endcomment %}
	{% endblock mains %}
    </body>
</html>